{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{#{% block active %}active{% endblock %}#}

{% block content %}

    <div class="contact" style="padding: 50px 0;">

    <div class="container text-center">
        <h1 class="display-3">Our Team</h1>

        <div class="row d-grid justify-content-center" style="padding: 50px 0;">
            <div class="card mr-3" style="width: 300px;">
                <img src="../../static/blog/img/2.jpg" class="card-img-top" alt="Sample Image">

{#                With Dictionary ----------#}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ team.fname }} {{ team.lname }}</h5>
                    <p class="card-text">{{ team.position }}</p>
                    <p class="card-text">Group: {{ team.group }}</p>
                    <p class="card-text">Mail: <a href="#">{{ team.email }}</a></p>
                    <p class="card-text">Phone Number: {{ team.phone }}</p>
                    <a href="#" class="btn btn-primary">View Profile</a>
                </div>
             </div>

{#            With Models  ---------------#}
            {% for member in members %}
            <div class="card mr-3" style="width: 300px;">
                <img src="../../static/blog/img/mine.jpg" class="card-img-top" alt="Sample Image">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ member.name }}</h5>
                    <p class="card-text">{{ member.position }}</p>
                    <p class="card-text">Mail: <a href="#">{{ member.email|center:"5" }}</a></p>
                    <p class="card-text">
                        {% if member.number|length == 12 %}
                            Phone Number: {{ member.number }}
                        {% else %}
                            Phone Number is doesn't exist!
                        {% endif %}
                    </p>
                    <a href="#" class="btn btn-primary">View Profile</a>
                </div>
             </div>
            {% endfor %}
        </div>
    </div>

    </div>

{% endblock %}
