{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %} Tour Detail {% endblock %}

{% block content %}

    <div class="showcase">
        <div class="container">
            <div class="showcase__text">
                {{ tour.name }}
            </div>
        </div>
    </div>

    <div class="tour" style="margin: 50px 0;">
        <div class="container">

            <div class="tour__desc">
                Description: {{ tour.description }}
            </div>
            <br>
            <div > Duration of the tour:  {{ tour.duration }}</div>
            <br>
            <div > Start Day:  {{ tour.started }}</div>
            <br>
            <div > Price of the tour:  {{ tour.price }}</div>
            <br>

            <div class="">
				<img src="{% static "uploads/" %}{{ tour.image }}" alt="" height="400px">
            </div>

            <br><hr>
            <a href="{% url 'blog:tour_edit' id=tour.id%}" class="btn btn-primary">Edit</a>
            <a href="{% url 'blog:tour_delete' id=tour.id%}" class="btn btn-danger">Delete</a>

        </div>


    </div>

{% endblock %}