{% extends 'admin/base_admin.html' %}

{% block title %}
    Users List
{% endblock %}

{% block content %}

    <div class="container">
        <div class="orders">
            <h2>User List</h2>
            <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Name</th>
                              <th scope="col">Order</th>
                              <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if users %}
                        {% for user in users %}
                                {% if not user.is_superuser  %}
                                    <tr>
                                        <th scope="row">{{ user.id }}</th>
                                        <th scope="row">{{ user.username }}</th>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.first_name }}</td>
    {#                                    {% for user_orders in user.ordertour_set.all %}#}
                                        <td><a href="{% url 'blog:user_detail' id=user.id %}" class="btn btn-outline-primary">Orders</a></td>
    {#                                    {% endfor %}#}
                                        <td><a href="" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                {% endif %}
                        {% endfor %}
                    {% else %}
                        <div>Tours are not available!</div>
                    {% endif %}
                    </tbody>
                </table>

        </div>
    </div>

{% endblock %}